* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
body{
    background: #f6f6f6;
    font-size: 1.6rem;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

    @include tablet {
        font-size: 55%;
    }

    @include mobile {
        font-size: 50%;
    }
}

section {
    padding: 5rem 9%;

    @include tablet {
        padding: 2rem;
    }
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}