@import "../../../assets/scss/main.scss";

.parallax-slider {
    position: relative;

    &:hover .parallax-slider-navigation {
        left: 1.5rem;
        right: 1.5rem;
    }
}
.parallax-slide {
    height: 50rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.parallax-slider-navigation {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: -5rem;
    right: -5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 0;
    @include transition;
    @include tablet {
        left: 1.5rem;
        right: 1.5rem;
    }
}
.parallax-slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.nav-indicator {
    height: 4rem;
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #6b77f6;
    color: #ffffff;
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
    transform: translateY(-50%);
}
