@import "../scss/main.scss";

.footer {
    background: #1a1a1a;
    section {
        padding-bottom: 2rem;
    }
    &_content {
        display: grid;
        padding-bottom: 2.5rem;
        grid-template-columns: repeat(4, 1fr);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        &_item {
            color: $white;
            margin-top: 2.5rem;

            h1 {
                position: relative;
                font-size: 1.8rem;
                text-transform: uppercase;
                padding-left: 1.6rem;
                margin: 0 0 2rem 0;
                color: rgba(255, 255, 255, 0.7);
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0.4rem;
                    height: 100%;
                    background: $violet-light-1;
                }
            }
            li {
                list-style-type: disc;
                color: $violet-light-1;
                font-size: 1.6rem;
                margin-left: 1.5rem;
                padding: 0.2rem 0;
                a {
                    color: rgba(255, 255, 255, 0.57);

                    &:hover {
                        color: $violet-light-1;
                    }
                }
            }

            &:last-child {
                ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 5rem);
                    li {
                        list-style-type: none;
                        font-size: 3rem;
                        & a {
                            &:hover {
                                color: rgba(255, 255, 255, 0.57);
                                svg {
                                    scale: 1.3;
                                }
                            }
                        }
                    }
                }
            }
            .icons {
                text-align: center;
                img {
                    width: 15rem;
                    margin-top: 2rem;
                }
            }
        }
    }
    &_bottom {
        display: flex;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
        padding-top: 0.5rem;
        @include tablet {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        img {
            width: 20rem;
        }
        p {
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.57);
            display: flex;
            align-items: center;
            padding-left: 2rem;
            padding-top: 1rem;
        }
    }
}
