@import "../../scss/main.scss";

.trending {
    background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg");
    background-position: 50% 25rem;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.trending_tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    @include mobile {
        display: block;
        width: 250px;
    }
    h2 {
        margin: 0;
        margin-right: 2rem;
        white-space: nowrap;
        font-weight: bold;
        font-size: 2.5rem;
    }
    .selector {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        border-radius: 3rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
        @include mobile {
            margin-top: 2rem;
        }
        .anchor {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            width: 125px;
            text-align: center;
            cursor: pointer;

            h3 {
                display: inline-flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-size: 1em;
                padding: 0.5rem 0;
                margin-bottom: 0;
                white-space: nowrap;

                a {
                    color: #2a2a2a;
                    transition: -webkit-text-fill-color 0.5s;
                    font-weight: bold;

                    &.selected {
                        color: white;
                    }
                }
            }

            .background {
                z-index: -1;
                background: rgba(3, 37, 65, 1);
                @include bg-gradient;
                border-radius: 3rem;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                transition: left 0.25s;
            }
        }
    }
}

.trending_scroller {
    position: relative;
    top: 0;
    left: 0;

    &.isFading::after {
        content: "";
        width: 10rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            #f6f6f6 100%
        );
        will-change: opacity;
        pointer-events: none;
        opacity: 1;
        transition: linear 0.3s;

        @include mobile {
            display: none;
        }
    }
    &.hidden::after {
        opacity: 0;
        transition: linear 0.3s;
    }
    .column_content {
        min-height: 0;
        height: auto;
        width: 100%;
        min-height: 35.5rem;
        overflow-x: scroll;
        overflow-y: hidden;
        transition: height 0.5s linear;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding-bottom: 2rem;

        &::-webkit-scrollbar {
            height: 1rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(219, 219, 219, 1);
            border-radius: 2rem;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &_card {
            width: 15rem;
            min-width: 15rem;
            margin-left: 2rem;
            background: transparent;
            border: none;
            box-shadow: none;
            margin-top: 0;
            overflow: visible;
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            border-radius: 0.8rem;
            overflow: hidden;
            margin-top: 3rem;
            width: calc((100vw - 8rem - 26rem - (3rem * 5)) / 5);
            max-width: calc((140rem - 8rem - 26rem - (3rem * 5)) / 5);
            &:first-child {
                margin-left: 0;
            }
            .image {
                box-shadow: 0 0.2rem 0.8rem rgb(0 0 0 / 10%);
                border-radius: 0.8rem;
                width: 100%;
                min-height: calc(15rem * 1.5);
                height: calc(15rem * 1.5);
                background: #dbdbdb;
                overflow: hidden;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }

            .content {
                width: 100%;
                padding: 2.6rem 1rem 1.2rem 1rem;
                position: relative;
                white-space: normal;
                display: flex;
                align-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: 0;
                h2 {
                    font-size: 1em;
                    margin: 0;
                    width: 100%;
                    word-wrap: normal;
                    overflow-wrap: break-word;
                    a {
                        font-weight: bold;
                        color: #000;
                        &:hover {
                            color: rgba(1, 180, 228, 1);
                        }
                    }
                }
                p {
                    font-size: 1em;
                    margin: 0;
                    padding: 0;
                    color: rgba(0, 0, 0, 0.6);
                }

                .canvas {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-right: 1rem;
                    position: absolute;
                    top: -2rem;
                    left: 1rem;
                    .progress-circular {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 80%;
                            height: 80%;
                            border-radius: 50%;
                            background: #081c22;
                            z-index: 0;
                        }
                        span {
                            z-index: 9;
                            font-weight: bold;
                            color: white;
                            font-size: 1rem;
                            position: relative;
                            small {
                                position: absolute;
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
