.latest-trailers {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transition: all 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;

    background: linear-gradient(
        to right,
        rgba(3, 37, 65, 0.75) 0%,
        rgba(3, 37, 65, 0.75) 100%
    );
}
